@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic);
html, body {height: 100%; margin: 0; padding: 0;}
.page {
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #111;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	font-weight: 300;
	font-style: italic;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
a {
	color: #99ccff;
	text-decoration: none;
	transform: all 1s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}
a:hover {
	color: #0099ff;
}
.mainHeader {
	background: rgba(0,0,0,0.85);
	position: absolute;
	top: 30%;
	left: 0;
	right: 0;
	text-align: center;
	color: #fff;
	font-size: 1em;
}
.heading {
	font-weight: 300;
	font-size: 2em;
	margin: 1em auto 0 auto;
	width: 100%;
}
.tagline {
	font-weight: 300;
	font-size: 1em;
	color: #99ccff;
	margin: 0 auto 2em auto;
}
.menu {
	background: rgba(0,0,0,0.7);
	font-size: 1em;
	margin-bottom: 10px;
	text-align: center;
	padding: 0.5em 0;
}
.menu ul {
	margin: 0;
	padding: 0;
	display: inline;
	margin: auto;
}
.menu li{
	display: inline;
	padding: 0;
	margin: 0 1em;
}
.credits {
	background: rgba(0,0,0,0.7);
	font-size: 0.8em;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: right;
	color: #fff;
	font-weight: 300;
}